.heading {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
}

.grid-item {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item img {
    width: 50%;
    height: auto;
    margin-bottom: 10px;
}

.grid-item button {
    padding: 10px 20px;
    background-color: #dad7cd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.grid-item button:hover {
    background-color: #d5bdaf;
}

.second-section {
    margin: 40px 0px;
    padding: 20px;
}

.second-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin-top: 20px;
}


.second-grid-item {
    background-color: #fff;
    padding: 30px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-grid-item h3 {
    margin-bottom: 10px;
}

.second-grid-item p {
    margin-bottom: 20px;
}

.second-grid-item button {
    padding: 10px 20px;
    background-color: #dad7cd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.second-grid-item button:hover {
    background-color: #d5bdaf;
}

.second-grid-item img {
    max-width: 100%;
    height: auto;
}

.contact-section {
    padding: 60px 0px;
    text-align: center;
    background-color: #f1f1f1;
}

.faq-section {
    padding: 20px;
    margin-bottom: 20px;
}

.faq-heading {
    text-align: center;
    margin-bottom: 20px;
}

.faq-box {
    background-color: #fff;
    padding: 30px 40px;
    margin-bottom: 20px;
}

.faq-box h4 {
    margin-bottom: 10px;
}

.faq-box p {
    margin-bottom: 10px;
}

.white-space {
    height: 40px; /* Adjust the height as desired */
    background-color: #f1f1f1;
}

.support-form-container {
    background-color: #f1f1f1;
    margin-top: 20px;
    padding: 20px;
}

.support-form-heading {
    text-align: center;
    margin-bottom: 50px;
}

.support-form-content {
    margin: 50px 100px;
}

.form-field {
    width: 300px;
    margin-bottom: 10px;
    text-align: center;
}

.form-field label {
    display: block;
}

.form-field input,
.form-field select,
.form-field textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-field textarea {
    height: 100px;
}

.form-field button {
    padding: 8px 20px;
    background-color: #dad7cd;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-field button:hover {
    background-color: #d5bdaf;
}

.form-container {
    border-radius: 4px;
    border-radius: 5px;
    background: transparent none repeat scroll 0 0;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    padding: 60px;
    text-align: left;
}

.submission-acknowledgment {
    margin-top: 20px;
    font-style: italic;
    text-align: center;
}

.accordion {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
  }
  
  .accordion.active, .accordion:hover {
    background-color: #eaaa85; 
    color: white
  }
  .accordion.active h5, .accordion:hover h5{
    color: white
  }

  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .panel p {
    padding: 20px 0px;
  }
  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  .accordion h5 {
    float: left;
  }
  .accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }