{% extends "admin/base.html" %}
{% block title %}Admin{% endblock %}

{% block content %}
<div class="page-wrapper">
	<div class="page-content">
		<div class="ms-auto">
			<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
				<div class="breadcrumb-title pe-3">Analytics Dashboard</div>
				<div class="ps-3">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb mb-0 p-0">
							<li class="breadcrumb-item"><a href="/admin/">
								<i class="bx bx-home-alt"></i></a>
							</li>
						</ol>
					</nav>
				</div>
				<div class="ms-auto">
					<!-- <button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">
						Export <span class="visually-hidden">Toggle Dropdown</span>
					</button>
					<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">
						<a class="dropdown-item" id="export-chart">Export Charts</a>
						<a class="dropdown-item" id="export-data">Export Data</a>
					</div> -->
				</div>
			</div>
		</div>
		<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
			<div class="col">
				<div class="card radius-10">
					<div class="card-body">
						<div class="d-flex align-items-center">
							<div>
								<p class="mb-0 text-secondary">Revenue</p>
								<h4 class="my-1" id="total-revenue">-</h4>
								<p class="mb-0 font-13 text-success"><i class='bx bxs-up-arrow align-middle'></i>$34
									Since last week</p>
							</div>
							<div class="widgets-icons bg-light-warning text-warning ms-auto"><i
									class='bx bx-dollar-circle'></i>
							</div>
						</div>
						<div id="chart1"></div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card radius-10">
					<div class="card-body">
						<div class="d-flex align-items-center">
							<div>
								<p class="mb-0 text-secondary">Profit</p>
								<h4 class="my-1" id="total-profit">-</h4>
								<p class="mb-0 font-13 text-danger"><i class='bx bxs-down-arrow align-middle'></i>12.4%
									Since last week</p>
							</div>
							<div class="widgets-icons bg-light-success text-success ms-auto">
								<i class='bx bxs-wallet'></i>
							</div>
						</div>
						<div id="chart3"></div>
					</div>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="card radius-10">
					<div class="card-body">
						<div class="d-flex align-items-center">
							<div>
								<p class="mb-0 text-secondary">Quantity Sold</p>
								<h4 class="my-1" id="total-quantity">-</h4>
								<p class="mb-0 font-13 text-success"><i class='bx bxs-up-arrow align-middle'></i>14%
									Since last week</p>
							</div>
							<div class="widgets-icons bg-light-danger text-danger ms-auto">
								<i class='bx bxs-cart'></i>
							</div>
						</div>
						<div id="chart2"></div>
					</div>
				</div>
			</div>
		</div>
		<!--end row-->
		<div class="row row-cols-1 row-cols-xl-2">
			<div class="col d-flex">
				<div class="card radius-10 w-100">
					<div class="card-body">
						<div class="d-flex align-items-center">
							<div>
								<h5 class="mb-1">Store Metrics</h5>
								<p class="mb-0 font-13 text-secondary"><i class='bx bxs-calendar'></i>of all time
									revenue</p>
							</div>
							<div class="font-22 ms-auto"><i class='bx bx-dots-horizontal-rounded'></i>
							</div>
						</div>
						<div class="row row-cols-1 row-cols-sm-3 mt-4">
							<div class="col">
								<div>
									<p class="mb-0 text-secondary">Revenue</p>
									<h4 class="my-1">$4805</h4>
									<p class="mb-0 font-13 text-success"><i
											class='bx bxs-up-arrow align-middle'></i>$1458 Since last month</p>
								</div>
							</div>
							<div class="col">
								<div>
									<p class="mb-0 text-secondary">Total Customers</p>
									<h4 class="my-1">8.4K</h4>
									<p class="mb-0 font-13 text-success"><i
											class='bx bxs-up-arrow align-middle'></i>12.3% Since last month</p>
								</div>
							</div>
							<div class="col">
								<div>
									<p class="mb-0 text-secondary">Store Visitors</p>
									<h4 class="my-1">59K</h4>
									<p class="mb-0 font-13 text-danger"><i
											class='bx bxs-down-arrow align-middle'></i>2.4% Since last month</p>
								</div>
							</div>
						</div>
						<div id="chart4"></div>
					</div>
				</div>
			</div>
			<div class="col d-flex">
				<div class="col d-flex">
					<div class="card radius-10 w-100">
						<div class="card-body">
							<div class="d-flex align-items-center">
								<div>
									<h5 class="mb-0">Top Categories</h5>
									<p class="mb-0 font-13 text-secondary"><i class='bx bxs-calendar'></i> of all time</p>
								</div>
								<div class="font-22 ms-auto"><i class='bx bx-dots-horizontal-rounded'></i>
								</div>
							</div>
							<div class="mt-5" id="chart15"></div>
						</div>
						<ul class="list-group list-group-flush" id="category-list">
						</ul>
					</div>
				</div>
			</div>
			<div class="col d-flex">
				<div class="card radius-10 w-100">
					<div class="card-body">
						<div class="d-flex align-items-center">
							<div>
								<h5 class="mb-1">Top Products</h5>
								<p class="mb-0 font-13 text-secondary"><i class='bx bxs-calendar'></i> of all time</p>
							</div>
							<div class="font-22 ms-auto"><i class='bx bx-dots-horizontal-rounded'></i>
							</div>
						</div>
						<div class="product-list p-3 mb-3" id="product-list">
						</div>
					</div>
				</div>
			</div>
			<div class="col d-flex">
				<div class="card radius-10 w-100">
					<div class="card-body">
						<div class="d-flex align-items-center">
							<div>
								<h5 class="mb-0">Top Customers</h5>
								<p class="mb-0 font-13 text-secondary"><i class='bx bxs-calendar'></i> of all time</p>
							</div>
							<div class="font-22 ms-auto"><i class='bx bx-dots-horizontal-rounded'></i>
							</div>
						</div>
					</div>
					<div class="customers-list p-3 mb-3">
						{% for customer in top_customers %}
						<div class="customers-list-item d-flex align-items-center border-top border-bottom p-2 cursor-pointer">
							<div class="col-sm-8">
								<h6 class="mb-1">{{customer[0].get_first_name()}} {{customer[0].get_last_name()}}</h6>
							</div>
							<div class="col-sm-4">
								<h6 class="mb-1">Sales ${{customer[1]}}</h6>
								<p class="mb-0">{{customer[2]}} Sales</p>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<!--end row-->
	</div>
</div>
{% endblock %}
{% block js %}
	<!-- Bootstrap JS -->
	<script src="{{ url_for('static', filename='admin/js/bootstrap.bundle.min.js') }}"></script>
	<!--plugins-->
	<script src="{{ url_for('static', filename='admin/js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='admin/plugins/simplebar/js/simplebar.min.js') }}"></script>
	<script src="{{ url_for('static', filename='admin/plugins/metismenu/js/metisMenu.min.js') }}"></script>
	<script src="{{ url_for('static', filename='admin/plugins/perfect-scrollbar/js/perfect-scrollbar.js') }}"></script>
	<script src="{{ url_for('static', filename='admin/plugins/apexcharts-bundle/js/apexcharts.min.js') }}"></script>
	<script src="{{ url_for('static', filename='admin/plugins/datatable/js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ url_for('static', filename='admin/plugins/datatable/js/dataTables.bootstrap5.min.js') }}"></script>
	<script>
		$(document).ready(function() {
			$('#Transaction-History').DataTable({
				lengthMenu: [[6, 10, 20, -1], [6, 10, 20, 'Todos']]
			});
		  } );
	</script>
	<script src="{{ url_for('static', filename='admin/js/dashboard-eCommerce.js') }}"></script>
	<!--app JS-->
	<script src="{{ url_for('static', filename='admin/js/app.js') }}"></script>
	<script>
		new PerfectScrollbar('.product-list');
		new PerfectScrollbar('.customers-list');
	</script>
	$(document).ready(function() {
		$('#Transaction-History').DataTable({
			lengthMenu: [[6, 10, 20, -1], [6, 10, 20, 'Todos']]
		});
	  } );
</script>
{% endblock %}