{% extends "admin/base.html" %}
{% block title %}Admin{% endblock %}

{% block content %}
<div class="page-wrapper">
	<div class="page-content">
		<div class="ms-auto">
			<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
				<div class="breadcrumb-title pe-3">Customer Support</div>
				<div class="ps-3">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb mb-0 p-0">
							<li class="breadcrumb-item"><a href="/admin/support">
								<i class="bx bx-home-alt"></i></a>
							</li>
						</ol>
					</nav>
				</div>
				<div class="ms-auto">
				</div>
			</div>
		</div>
		<div class="row row-cols-1 row-cols-lg-1 row-cols-xl-1">
			<div class="col-12 col-lg-12 col-xl-12">
				<div class="card radius-10">
					<div class="card-body">
						<div class="d-flex align-items-center">
							<div>
								<h6 class="mb-0">Support Tickets Created</h6>
							</div>
							<div class="font-22 ms-auto"><i class='bx bx-dots-horizontal-rounded'></i>
							</div>
						</div>
						<div id="submitted-application"></div>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-12 col-xl-12">
				<div class="row">
					<div class="col-6 col-lg-6 col-xl-6">
						<div class="card radius-10">
							<div class="card-body">
								<div class="d-flex align-items-center">
									<div>
										<h6 class="mb-0">Support Tickets</h6>
									</div>
									<div class="font-22 ms-auto"><i class='bx bx-dots-horizontal-rounded'></i>
									</div>
								</div>
								<div
									class="text-center chart-container-9 d-flex align-items-center justify-content-center">
									<div id="vacancies-status"></div>
								</div>
							</div>
							<div class="card-footer bg-transparent border-top">
								<div class="row align-items-center text-center">
									<div class="col border-end">
										<h4 class="mb-0" id="open-tickets">452</h4>
										<small class="extra-small-font">Unresolved</small>
									</div>
									<div class="col">
										<h4 class="mb-0" id="closed-tickets">680</h4>
										<small class="extra-small-font">Resolved</small>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-6 col-lg-6 col-xl-6">
						<div class="card radius-10">
							<div class="card-body">
								<div class="d-flex align-items-center">
									<div>
										<h6 class="mb-0">Top Support Tickets Category</h6>
									</div>
									<div class="font-22 ms-auto"><i class='bx bx-dots-horizontal-rounded'></i>
									</div>
								</div>
								<div class="">
									<div id="top-referrers"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-12 col-xl-12">
			<div class="table-responsive card radius-10">
				<table class="table mb-0">
					<thead class="table-light">
						<tr>
							<th>Ticket #</th>
							<th>Name</th>
							<th>Status</th>
							<th>Category</th>
							<th>Date</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% if tickets|length > 0 %}
						{% for key in tickets %}
						<tr>
							<td>
								<div class="d-flex align-items-center">
									<div>
										<input class="form-check-input me-3" type="checkbox" value="" aria-label="...">
									</div>
									<div class="ms-2">
										<h6 class="mb-0 font-14">#{{tickets[key].get_ticket_id()}}</h6>
									</div>
								</div>
							</td>
							<td>{{tickets[key].get_first_name()}} {{tickets[key].get_last_name()}}</td>
							<td>
								{% if tickets[key].get_status() == 'Open' %}
								<div class="badge rounded-pill text-danger bg-light-danger p-2 text-uppercase px-3">
									<i class='bx bxs-circle me-1'></i>Unresolved
								</div>
								{% else %}
								<div class="badge rounded-pill text-success bg-light-success p-2 text-uppercase px-3">
									<i class='bx bxs-circle me-1'></i>Resolved
								</div>
								{% endif %}
							</td>
							<td>{{tickets[key].get_category()}}</td>
							<td>{{tickets[key].get_date_created()}}</td>
							<td>
								<div class="d-flex order-actions">
									<a href="javascript:;"
										onclick="document.getElementById('ticketDetailDialog-{{tickets[key].get_ticket_id()}}').showModal()"
										class=""><i class='bx bxs-detail'></i></a>
									<a href="javascript:;"
										onclick="document.getElementById('ticketDeleteDialog-{{tickets[key].get_ticket_id()}}').showModal()"
										class="ms-3"><i class='bx bxs-trash'></i></a>
								</div>
							</td>
							<dialog id="ticketDetailDialog-{{tickets[key].get_ticket_id()}}">
								<div class="row">
									<h3 class="mb-3">Ticket #{{tickets[key].get_ticket_id()}}</h3>
									<div class="row">
										<div class="col-6 mb-3">
											<h6 class="form-label">Phone</h6>
											<a href="tel:{{tickets[key].get_phone_number()}}">{{tickets[key].get_phone_number()}}</a>
										</div>
										<div class="col-6 mb-3">
											<h6 class="form-label">Email</h6>
											<a href="mailto:{{tickets[key].get_email()}}">{{tickets[key].get_email()}}</a>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-6 mb-3">
											<h6 class="form-label">Category</h6>
											{{tickets[key].get_category()}}
										</div>
										<div class="col-6 mb-3">
											<h6 class="form-label">Subject</h6>
											{{tickets[key].get_subject()}}
										</div>
									</div>
									<div class="col-12 mb-3">
										<h6 class="form-label">Message</h6>
										<textarea style="width: 100%;" rows="5" readonly>{{tickets[key].get_message()}}</textarea>
									</div>
									<hr>
									<div class="col-12 mb-4">
										<h6 class="form-label">Status</h6>
										<select class="form-control" name="status-{{tickets[key].get_ticket_id()}}" id="status-{{tickets[key].get_ticket_id()}}"
										onchange="updateStatus({{tickets[key].get_ticket_id()}}, this.value)">
											<option value="Open" {% if tickets[key].get_status() == 'Open' %} selected {% endif %}>Unresolved</option>
											<option value="Closed" {% if tickets[key].get_status() == 'Closed' %} selected {% endif %}>Resolved</option>
										</select>
									</div>
									<div class="col-12">
										<button type="button"
										onclick="document.getElementById('ticketDetailDialog-{{tickets[key].get_ticket_id()}}').close();"
										style="width: 100%;" class="btn btn-primary">
										Close
										</button>
									</div>
								</div>
								<a onclick="document.getElementById('ticketDetailDialog-{{tickets[key].get_ticket_id()}}').close();"
								aria-label="close" class="x">❌</a>
							</dialog>
							<dialog id="ticketDeleteDialog-{{tickets[key].get_ticket_id()}}">
								<h3>Delete Ticket #{{tickets[key].get_ticket_id()}}?</h3>
								<p>This action cannot be undone.</p>
								<a onclick="document.getElementById('ticketDeleteDialog-{{tickets[key].get_ticket_id()}}').close();"
									aria-label="close" class="x">❌</a>
								<button type="button" onclick="deleteTicket({{tickets[key].get_ticket_id()}})"
									style="width: 100%;" class="btn btn-danger">
									Delete Ticket
								</button>
							</dialog>
						</tr>
						{% endfor %}
						{% else %}
						<tr>
							<p><strong>There are no orders</strong></p>
						</tr>
						{% endif %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script>
	function deleteTicket(ticket_id) {
		var xhr = new XMLHttpRequest();
		xhr.open('POST', '/support/delete', true);
		xhr.setRequestHeader('Content-Type', 'application/json');

		xhr.onload = function () {
			if (xhr.status === 200) {
				var response = JSON.parse(xhr.responseText);

				if (response.success) {
					location.reload();
				} else {
					alert('Failed to delete ticket.');
				}
			} else {
				alert('An Internal error occurred.');
			}
		};

		xhr.send(JSON.stringify({
			ticket_id : ticket_id
		}));
	}

	function updateStatus(ticket_id, status) {
		console.log(ticket_id, status);
		var xhr = new XMLHttpRequest();
		xhr.open('POST', '/support/status/update', true);
		xhr.setRequestHeader('Content-Type', 'application/json');

		xhr.onload = function () {
			if (xhr.status === 200) {
				var response = JSON.parse(xhr.responseText);

				if (response.success) {
					location.reload();
				} else {
					alert('Failed to update ticket.');
				}
			} else {
				alert('An Internal error occurred.');
			}
		};

		xhr.send(JSON.stringify({
			ticket_id : ticket_id,
			status : status
		}));
	}
</script>
{% endblock %}
<!--end switcher-->
{% block js %}
<!-- Bootstrap JS -->
<script src="{{ url_for('static', filename='admin/js/bootstrap.bundle.min.js') }}"></script>
<!--plugins-->
<script src="{{ url_for('static', filename='admin/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='admin/plugins/simplebar/js/simplebar.min.js') }}"></script>
<script src="{{ url_for('static', filename='admin/plugins/metismenu/js/metisMenu.min.js') }}"></script>
<script src="{{ url_for('static', filename='admin/plugins/perfect-scrollbar/js/perfect-scrollbar.js') }}"></script>
<script src="{{ url_for('static', filename='admin/plugins/apexcharts-bundle/js/apexcharts.min.js') }}"></script>
<script src="{{ url_for('static', filename='admin/js/dashboard-human-resources.js') }}"></script>
<!--app JS-->
<script src="{{ url_for('static', filename='admin/js/app.js') }}"></script>
{% endblock %}