{% extends "admin/base.html" %}
{% block title %}Admin{% endblock %}

{% block content %}
<!--wrapper-->
<div class="page-wrapper">
	<div class="page-content">

		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-body">
						<div class="row align-items-center">
							<div class="col-lg-3 col-xl-2">
								<a href="/admin/products/new" class="btn btn-primary mb-3 mb-lg-0"><i
										class='bx bxs-plus-square'></i>New Product</a>
							</div>
							<div class="col-lg-9 col-xl-10">
								<form class="float-lg-end">
									<div class="row row-cols-lg-auto g-2">
										<div class="col-12">
											<div class="position-relative">
												<input type="text" class="form-control ps-5"
													placeholder="Search Product..."> <span
													class="position-absolute top-50 product-show translate-middle-y"><i
														class="bx bx-search"></i></span>
											</div>
										</div>
										<div class="col-12">
											<div class="btn-group" role="group"
												aria-label="Button group with nested dropdown">
												<button type="button" class="btn btn-white">Sort By</button>
												<div class="btn-group" role="group">
													<button id="btnGroupDrop1" type="button"
														class="btn btn-white dropdown-toggle dropdown-toggle-nocaret px-1"
														data-bs-toggle="dropdown" aria-expanded="false">
														<i class='bx bx-chevron-down'></i>
													</button>
													<ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
														<li><a class="dropdown-item" href="#">Dropdown link</a></li>
														<li><a class="dropdown-item" href="#">Dropdown link</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 product-grid">
			{% for product in products %}
			<div class="col">
				<div class="card">
					<a href="/admin/products/{{product[0].get_id()}}">
						<img src="{{ url_for('static', filename='artisan/images/product-image/')}}{{product[0].get_image()[0]}}" style="height: 280px;" class="card-img-top" alt="...">
					</a>
					<div class="card-body">
						<a href="/admin/products/{{product[0].get_id()}}"><h6 class="card-title cursor-pointer">{{product[0].get_name()}}</h6></a>
						<div class="clearfix">
							<p class="mb-0 float-start">
								<strong>{{product[1]}}</strong> Sold</p>
							<p class="mb-0 float-end fw-bold"><span>${{product[0].get_price()}}</span>
							</p>
						</div>
						<div class="d-flex align-items-center mt-3 fs-6">
							<div class="cursor-pointer">
								<i class='bx bxs-star text-warning'></i>
								<i class='bx bxs-star text-warning'></i>
								<i class='bx bxs-star text-warning'></i>
								<i class='bx bxs-star text-warning'></i>
								<i class='bx bxs-star text-secondary'></i>
							</div>
							<p class="mb-0 ms-auto">4.2(182)</p>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div><!--end row-->


	</div>
</div>
<!--end wrapper-->
{% endblock %}
{% block js %}
<!-- Bootstrap JS -->
<script src="{{ url_for('static', filename='admin/js/bootstrap.bundle.min.js') }}"></script>
<!--plugins-->
<script src="{{ url_for('static', filename='admin/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='admin/plugins/simplebar/js/simplebar.min.js') }}"></script>
<script src="{{ url_for('static', filename='admin/plugins/metismenu/js/metisMenu.min.js') }}"></script>
<script src="{{ url_for('static', filename='admin/plugins/perfect-scrollbar/js/perfect-scrollbar.js') }}"></script>
<!--app JS-->
<script src="{{ url_for('static', filename='admin/js/app.js') }}"></script>
{% endblock %}