{% extends "admin/base.html" %}
{% block title %}Admin{% endblock %}

{% block content %}
<!--start page wrapper -->
<style>
	.imageuploadify-container img {
		width: 50%;
		margin: 0 10px 10px 0;
	}
</style>
<div class="page-wrapper">
	<div class="page-content">

		<!--breadcrumb-->
		<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
			<div class="breadcrumb-title pe-3">eCommerce</div>
			<div class="ps-3">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb mb-0 p-0">
						<li class="breadcrumb-item"><a href="/admin/products"><i class="bx bx-home-alt"></i></a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">Add New Product</li>
					</ol>
				</nav>
			</div>
			<div class="ms-auto">
				<div class="btn-group">
					<button type="button" class="btn btn-primary">Settings</button>
					<button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split"
						data-bs-toggle="dropdown"> <span class="visually-hidden">Toggle Dropdown</span>
					</button>
					<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end"> <a class="dropdown-item"
							href="javascript:;">Action</a>
						<a class="dropdown-item" href="javascript:;">Another action</a>
						<a class="dropdown-item" href="javascript:;">Something else here</a>
						<div class="dropdown-divider"></div> <a class="dropdown-item" href="javascript:;">Separated
							link</a>
					</div>
				</div>
			</div>
		</div>
		<!--end breadcrumb-->

		<div class="card">
			<div class="card-body p-4">
				<h5 class="card-title">Add New Product</h5>
				<div class="form-body mt-4">
					<form action="/admin/products/new" method="post" id="new-product">
						<div class="row">
							<div class="col-lg-8">
								<div class="border border-3 p-4 rounded" style="min-height: 350px;">
									<div class="mb-3">
										<label for="inputProductTitle" class="form-label">Product Title</label>
										<input type="text" name="title" class="form-control" id="inputProductTitle"
											placeholder="Enter product title" required>
									</div>
									<div class="mb-3">
										<label for="inputProductDescription" class="form-label">Description</label>
										<textarea class="form-control" name="description" id="inputProductDescription"
											rows="3" required></textarea>
									</div>
									<div class="mb-3">
										<label for="inputProductDescription" class="form-label">Product Images</label>
										<input id="image-uploadify" type="file" name="product_images"
											accept="image/*"
											multiple required>
									</div>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="border border-3 p-4 rounded" style="min-height: 350px;">
									<div class="row g-3">
										<div class="col-md-12">
											<label for="inputPrice" class="form-label">Price</label>
											<input type="number" min="1" class="form-control" name="price"
												id="inputPrice" placeholder="00.00" required>
										</div>
										<div class="col-md-12">
											<label for="inputCostPerPrice" class="form-label">Quantity</label>
											<input type="number" min="1" class="form-control" name="quantity"
												id="inputCostPerPrice" placeholder="0" required>
										</div>
										<div class="col-12">
											<label for="inputProductTags" class="form-label">Product Category</label>
											<select class="form-control" id="inputProductTags" name="category" required>
												<option value="" disabled selected>Category</option>
												<option value="3D Art and Modeling">3D Art and Modeling</option>
												<option value="Abstract Art">Abstract Art</option>
												<option value="Augmented Reality (AR) Art">Augmented Reality (AR) Art</option>
												<option value="Cartoon Art">Cartoon Art</option>
												<option value="Character Design">Character Design</option>
												<option value="Comics and Manga">Comics and Manga</option>
												<option value="Concept Art">Concept Art</option>
												<option value="Digital Collage">Digital Collage</option>
												<option value="Digital Paintings">Digital Paintings</option>
												<option value="Digital Stickers and Emojis">Digital Stickers and Emojis</option>
												<option value="Fantasy Art">Fantasy Art</option>
												<option value="Fine Art Photography">Fine Art Photography</option>
												<option value="GIF Art and Animation">GIF Art and Animation</option>
												<option value="Geometric Art">Geometric Art</option>
												<option value="Graffiti and Street Art">Graffiti and Street Art</option>
												<option value="Illustrations">Illustrations</option>
												<option value="Landscapes">Landscapes</option>
												<option value="Minimalist Art">Minimalist Art</option>
												<option value="Mixed Media Art">Mixed Media Art</option>
												<option value="Pixel Art">Pixel Art</option>
												<option value="Pop Art">Pop Art</option>
												<option value="Portraits">Portraits</option>
												<option value="Sci-Fi Art">Sci-Fi Art</option>
												<option value="Still Life">Still Life</option>
												<option value="Surreal Art">Surreal Art</option>
												<option value="Textile and Pattern Design">Textile and Pattern Design</option>
												<option value="Typography and Calligraphy">Typography and Calligraphy</option>
												<option value="Urban Art">Urban Art</option>
												<option value="Virtual Reality (VR) Art">Virtual Reality (VR) Art</option>
												<option value="Wildlife and Nature">Wildlife and Nature</option>
												<option value="Art for Kids">Others</option>
											</select>
										</div>
										<div class="col-12">
											<div class="d-grid">
												<button type="submit" class="btn btn-primary">Create Product</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>
</div>
<!--end wrapper-->
{% endblock %}
{% block js %}
<!-- Bootstrap JS -->
<script src="{{ url_for('static', filename='admin/js/bootstrap.bundle.min.js') }}"></script>
<!--plugins-->
<script src="{{ url_for('static', filename='admin/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='admin/plugins/simplebar/js/simplebar.min.js') }}"></script>
<script src="{{ url_for('static', filename='admin/plugins/metismenu/js/metisMenu.min.js') }}"></script>
<script src="{{ url_for('static', filename='admin/plugins/perfect-scrollbar/js/perfect-scrollbar.js') }}"></script>
<script src="{{ url_for('static', filename='admin/plugins/Drag-And-Drop/dist/imageuploadify.min.js') }}"></script>
<script>
	$(document).ready(function () {
		$('#image-uploadify').imageuploadify();
	})
</script>
<!--app JS-->
<script src="{{ url_for('static', filename='admin/js/app.js') }}"></script>
{% endblock %}