{% extends "admin/base.html" %}
{% block title %}Admin{% endblock %}

{% block content %}
<!--wrapper-->
<div class="page-wrapper">
	<div class="page-content">

		<!--breadcrumb-->
		<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
			<div class="breadcrumb-title pe-3">Product</div>
			<div class="ps-3">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb mb-0 p-0">
						<li class="breadcrumb-item"><a href="/admin/products"><i class="bx bx-home-alt"></i></a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">{{product.get_name()}}</li>
					</ol>
				</nav>
			</div>
			<div class="ms-auto">
				<div class="btn-group">
					<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end"> <a class="dropdown-item"
							href="javascript:;">Action</a>
						<a class="dropdown-item" href="javascript:;">Another action</a>
						<a class="dropdown-item" href="javascript:;">Something else here</a>
						<div class="dropdown-divider"></div> <a class="dropdown-item" href="javascript:;">Separated
							link</a>
					</div>
				</div>
			</div>
		</div>
		<!--end breadcrumb-->

		<div class="card">
			<div class="row g-0">
				<div class="col-md-4 border-end" style="text-align: center;">
					<img src="{{ url_for('static', filename='artisan/images/product-image/')}}{{product.get_image()[0]}}" style="width: 100%;" class="img-fluid" alt="...">
					<div class="row mb-3 row-cols-auto g-2 justify-content-center mt-3">
						{% for image in product.get_image()%}
						<div class="col">
							<img src="{{ url_for('static', filename='artisan/images/product-image/')}}{{image}}" width="70"
								class="border rounded cursor-pointer" alt="">
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h4 class="card-title">{{product.get_name()}}</h4>
						<p>Uploaded by {{artist}}</p>
						<div class="d-flex gap-3 py-3">
							<div class="cursor-pointer">
								<i class='bx bxs-star text-warning'></i>
								<i class='bx bxs-star text-warning'></i>
								<i class='bx bxs-star text-warning'></i>
								<i class='bx bxs-star text-warning'></i>
								<i class='bx bxs-star text-secondary'></i>
							</div>
							<div>2 reviews</div>
							<div class="text-success"><i class='bx bxs-cart-alt align-middle'></i> {{sold}} Sold</div>
						</div>
						<div class="mb-3">
							<span class="price h4">${{product.get_price()}}</span>
						</div>
						<hr>
						<div class="row row-cols-auto row-cols-1 row-cols-md-3 align-items-center">
							<div class="col-md-3">
								<label class="form-label" style="font-weight: 500;">Quantity</label>
								{% if product.get_quantity()|int > 0 %}
								<p class="text-success">{{product.get_quantity()}}</p>
								{% else %}
								<p class="text-danger">Out of Stock</p>
								{% endif %}
							</div>
							<div class="col-md-3">
								<label class="form-label" style="font-weight: 500;">Category</label>
								<p>{{product.get_category()}}</p>
							</div>
							<div class="col-md-12">
								<label class="form-label" style="font-weight: 500;">Description</label>
								<p>{{product.get_description()}}</p>
							</div>	
						</div>
						<div class="d-flex gap-3 mt-3">
							<a onclick="document.getElementById('editArtworkDialog').showModal()" class="btn btn-primary">
								<span class="text">Manage Product</span> <i class='bx bx-edit-alt'></i>
							</a>
							<a href="/artworks/{{product.get_id()}}" class="btn btn-outline-primary">View In Store</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<dialog id="editArtworkDialog">
	<h2>Manage Product </h2>
	<div class="mb-3">
		<label for="product_quantity" class="form-label">Title</label>
		<input type="text" class="form-control" id="title-{{product.get_id()}}" placeholder="Title" value="{{product.get_name()}}" required>
	</div>
	<div class="row">
		<div class="col-md-6 mb-3">
			<label for="inputPrice" class="form-label">Price</label>
			<input type="number" min="1" class="form-control" id="price-{{product.get_id()}}" placeholder="$ Price" value="{{product.get_price()}}" required>
		</div>
		<div class="col-md-6 mb-3">
			<label for="product_quantity" class="form-label">Quantity</label>
			<input type="number" min="1" class="form-control" id="quantity-{{product.get_id()}}" placeholder="Quantity" value="{{product.get_quantity()}}" required>
		</div>
	</div>
	<div class="mb-3">
		<label for="product_quantity" class="form-label">Category</label>
		<select class="form-control" id="category-{{product.get_id()}}" required>
			<option value="{{product.get_category()}}" disabled selected>{{product.get_category()}}</option>
			<option value="3D Art and Modeling">3D Art and Modeling</option>
			<option value="Abstract Art">Abstract Art</option>
			<option value="Augmented Reality (AR) Art">Augmented Reality (AR) Art</option>
			<option value="Cartoon Art">Cartoon Art</option>
			<option value="Character Design">Character Design</option>
			<option value="Comics and Manga">Comics and Manga</option>
			<option value="Concept Art">Concept Art</option>
			<option value="Digital Collage">Digital Collage</option>
			<option value="Digital Paintings">Digital Paintings</option>
			<option value="Digital Stickers and Emojis">Digital Stickers and Emojis</option>
			<option value="Fantasy Art">Fantasy Art</option>
			<option value="Fine Art Photography">Fine Art Photography</option>
			<option value="GIF Art and Animation">GIF Art and Animation</option>
			<option value="Geometric Art">Geometric Art</option>
			<option value="Graffiti and Street Art">Graffiti and Street Art</option>
			<option value="Illustrations">Illustrations</option>
			<option value="Landscapes">Landscapes</option>
			<option value="Minimalist Art">Minimalist Art</option>
			<option value="Mixed Media Art">Mixed Media Art</option>
			<option value="Pixel Art">Pixel Art</option>
			<option value="Pop Art">Pop Art</option>
			<option value="Portraits">Portraits</option>
			<option value="Sci-Fi Art">Sci-Fi Art</option>
			<option value="Still Life">Still Life</option>
			<option value="Surreal Art">Surreal Art</option>
			<option value="Textile and Pattern Design">Textile and Pattern Design</option>
			<option value="Typography and Calligraphy">Typography and Calligraphy</option>
			<option value="Urban Art">Urban Art</option>
			<option value="Virtual Reality (VR) Art">Virtual Reality (VR) Art</option>
			<option value="Wildlife and Nature">Wildlife and Nature</option>
			<option value="Art for Kids">Others</option>
		</select>
	</div>
	<div class="mb-3">
		<label for="product_quantity" class="form-label">Description</label>
		<input type="text" class="form-control" id="description-{{product.get_id()}}" placeholder="Description" value="{{product.get_description()}}" required>
	</div>
	<div class="row">
		<div class="col-md-6">
			<button type="button" style="width: 100%;" class="btn btn-danger" onclick="document.getElementById('deleteArtDialog').showModal();">
				<i class="fa fa-arrow-left"> </i> Delete
			</button>
		</div>
		<div class="col-md-6">
			<button type="button" style="width: 100%;" class="btn btn-primary" onclick="updateArtwork({{product.get_id()}})">
				<i class="fa fa-arrow-left"> </i> Save
			</button>
		</div>
	</div>
	<a onclick="document.getElementById('editArtworkDialog').close();" aria-label="close" class="x">❌</a>
	<p id="msg"></p>
</dialog>
<dialog id="deleteArtDialog">
	<h3>Delete <br>{{product.get_name()}}?</h3>
	<p>This action cannot be undone.</p>
	<a onclick="document.getElementById('deleteArtDialog').close();" aria-label="close" class="x">❌</a>
	<button type="button" onclick="deleteArtwork({{product.get_id()}})" style="width: 100%;" class="btn btn-danger">
		Delete Artwork
	</button>
</dialog>
<script>

function deleteArtwork(product_id) {
    // Ajax call to delete product
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/artworks/delete/', true);
    xhr.setRequestHeader('Content-Type', 'application/json');

    xhr.onload = function () {
        if (xhr.status === 200) {
            var response = JSON.parse(xhr.responseText);

            if (response.success) {
                location.reload();
            } else {
                alert('Failed to delete artwork.');
            }
        } else {
            alert('An Internal error occurred.');
        }
    };

    xhr.send(JSON.stringify({
        product_id : product_id
    }));
}

function updateArtwork(product_id) {
    title = document.getElementById('title-' + product_id);
    price = document.getElementById('price-' + product_id);
    quantity = document.getElementById('quantity-' + product_id);
    description = document.getElementById('description-' + product_id);
    category = document.getElementById('category-' + product_id);

    // Ajax call to delete product
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/artworks/update/', true);
    xhr.setRequestHeader('Content-Type', 'application/json');

    xhr.onload = function () {
        if (xhr.status === 200) {
            var response = JSON.parse(xhr.responseText);

            if (response.success) {
                location.reload();
            } else {
                alert('Failed to update artwork.');
            }
        } else {
            alert('An Internal error occurred.');
        }
    };

    xhr.send(JSON.stringify({
        product_id : product_id,
        product_title : title.value,
        product_price : price.value,
        product_quantity : quantity.value,
        product_description : description.value,
        product_category : category.value
    }));
}
</script>
{% endblock %}
<!--end wrapper-->
{% block js %}
<!-- Bootstrap JS -->
<script src="{{ url_for('static', filename='admin/js/bootstrap.bundle.min.js') }}"></script>
<!--plugins-->
<script src="{{ url_for('static', filename='admin/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='admin/plugins/simplebar/js/simplebar.min.js') }}"></script>
<script src="{{ url_for('static', filename='admin/plugins/metismenu/js/metisMenu.min.js') }}"></script>
<script src="{{ url_for('static', filename='admin/plugins/perfect-scrollbar/js/perfect-scrollbar.js') }}"></script>
<!--app JS-->
<script src="{{ url_for('static', filename='admin/js/app.js') }}"></script>
{% endblock %}