<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DB Manager</title>
    <style>
        body {
            font-family: Arial;
        }

        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

        .tab button:hover {
            background-color: #ddd;
        }

        .tab button.active {
            background-color: #ccc;
        }

        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
        }
    </style>
</head>

<body>
    <h2>Database Manager</h2>
    <p>Click on the buttons to view database content.</p>
    <a href="/admin/sign-up">Add new admin</a>
    <a href="/admin/product/new">Add new product</a>
    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'Customers')">Customers</button>
        <button class="tablinks" onclick="openTab(event, 'Admins')">Admins</button>
        <button class="tablinks" onclick="openTab(event, 'Products')">Products</button>
    </div>

    <div id="Customers" class="tabcontent">
        <h3>Customers</h3>
        <p>{{ customers|length }} Customers in the database.</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Customer ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for key in customers %}
                <tr>
                    <td>{{ customers[key].get_user_id() }}</td>
                    <td>{{ customers[key].get_first_name() }}</td>
                    <td>{{ customers[key].get_last_name() }}</td>
                    <td>{{ customers[key].get_email() }}</td>
                    <td>{{ customers[key].get_gender() }}</td>
                    <td>{{ customers[key].get_username() }}</td>
                    <td>{{ customers[key].get_password() }}</td>
                    <td><input type="submit" value="Delete" onclick="deleteCustomer({{ customers[key].get_user_id() }})"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="Admins" class="tabcontent">
        <h3>Admins</h3>
        <p>{{ admins|length }} Admins in the database.</p>
        <table>
            <thead>
                <tr>
                    <th>Customer ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for key in admins %}
                <tr>
                    <td>{{ admins[key].get_user_id() }}</td>
                    <td>{{ admins[key].get_first_name() }}</td>
                    <td>{{ admins[key].get_last_name() }}</td>
                    <td>{{ admins[key].get_email() }}</td>
                    <td>{{ admins[key].get_username() }}</td>
                    <td>{{ admins[key].get_password() }}</td>
                    <td><input type="submit" value="Delete" onclick="deleteAdmin({{ admins[key].get_user_id() }})"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="Products" class="tabcontent">
        <h3>Products</h3>
        <p>{{ products|length }} Products in the database.</p>
        <table>
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Tag</th>
                    <th>image</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for key in products %}
                <tr>
                    <td>{{ products[key].get_id() }}</td>
                    <td>{{ products[key].get_name() }}</td>
                    <td>{{ products[key].get_description() }}</td>
                    <td>{{ products[key].get_price() }}</td>
                    <td>{{ products[key].get_category() }}</td>
                    <td>{{ products[key].get_tag() }}</td>
                    {% for image in products[key].get_image() %}
                    <td><img src="{{url_for('static', filename='artisan/images/product-image/' )}}{{image}}" alt="image" width="30px"></td>
                    {% endfor %}
                    <td><input type="submit" value="Delete" onclick="deleteProduct({{ products[key].get_id() }})"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        document.getElementsByClassName("tablinks")[0].click();

        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        function deleteAdmin(id) {
            // Ajax call to delete admin
            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'delete/admin/' + id, true);
            xhr.setRequestHeader('Content-Type', 'application/json');

            xhr.onload = function () {
                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);

                    if (response.success) {
                        alert('Record deleted successfully.');
                        window.location.reload();
                    } else {
                        alert('Failed to delete record.');
                    }
                } else {
                    alert('An Internal error occurred.');
                }
            };

            xhr.send(JSON.stringify({
                id : id
            }));
        }

        function deleteCustomer(id) {
            // Ajax call to delete customer
            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'delete/customer/' + id, true);
            xhr.setRequestHeader('Content-Type', 'application/json');

            xhr.onload = function () {
                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);

                    if (response.success) {
                        alert('Record deleted successfully.');
                        window.location.reload();
                    } else {
                        alert('Failed to delete record.');
                    }
                } else {
                    alert('An Internal error occurred.');
                }
            };

            xhr.send(JSON.stringify({
                id : id
            }));
        }

        function deleteProduct(id) {
            // Ajax call to delete customer
            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'delete/product/' + id, true);
            xhr.setRequestHeader('Content-Type', 'application/json');

            xhr.onload = function () {
                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);

                    if (response.success) {
                        alert('Record deleted successfully.');
                        window.location.reload();
                    } else {
                        alert('Failed to delete record.');
                    }
                } else {
                    alert('An Internal error occurred.');
                }
            };

            xhr.send(JSON.stringify({
                id : id
            }));
        }
    </script>

</body>

</html>