<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="robots" content="index, follow" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="Artisan's - Buy & Sell Your Artworks" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Add site Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='artisan/images/favicon/favicon.ico') }}" type="image/png">

    <!-- vendor css (Icon Font) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='artisan/css/vendor/bootstrap.bundle.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='artisan/css/vendor/pe-icon-7-stroke.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='artisan/css/vendor/font.awesome.css') }}" />

    <!-- plugins css (All Plugins Files) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='artisan/css/plugins/animate.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='artisan/css/plugins/swiper-bundle.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='artisan/css/plugins/jquery-ui.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='artisan/css/plugins/nice-select.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='artisan/css/plugins/venobox.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='artisan/css/plugins/aos.css') }}" />

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='artisan/css/vendor/vendor.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='artisan/css/plugins/plugins.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='artisan/css/style.min.css') }}"> -->

    <!-- Main Style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='artisan/css/style.css') }}" />

</head>

<body>
    <!-- Nav Area Start -->
    {% block navbar %}
        {% include 'artisan/includes/nav.html' %}
    {% endblock %}

    <!-- Nav Area End -->

    <!-- Content Area Start-->
    {% block content %}
        
    {% endblock %}
    {% include 'artisan/includes/dialogs.html' %}
    <!-- Content Area End-->

    <!-- Footer Area Start -->
    {% block footer %}
        {% include 'artisan/includes/footer.html' %}
    {% endblock %}
    <!-- Footer Area End -->

    <!-- Vendor JS -->
    <script src="{{ url_for('static', filename='artisan/js/vendor/jquery-3.5.1.min.js') }}"></script>

    <script src="{{ url_for('static', filename='artisan/js/vendor/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='artisan/js/vendor/jquery-migrate-3.3.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='artisan/js/vendor/modernizr-3.11.2.min.js') }}"></script>

    <!--Plugins JS-->
    <script src="{{ url_for('static', filename='artisan/js/plugins/swiper-bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='artisan/js/plugins/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='artisan/js/plugins/jquery.nice-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='artisan/js/plugins/countdown.js') }}"></script>
    <script src="{{ url_for('static', filename='artisan/js/plugins/scrollup.js') }}"></script>
    <script src="{{ url_for('static', filename='artisan/js/plugins/jquery.zoom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='artisan/js/plugins/venobox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='artisan/js/plugins/ajax-mail.js') }}"></script>
    <script src="{{ url_for('static', filename='artisan/js/plugins/aos.js') }}"></script>

    <!-- Main Js -->
    <script src="{{ url_for('static', filename='artisan/js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='artisan/js/offcanvas-cart.js') }}"></script>
</body>
</html>