{% extends "artisan/base.html" %}
{% block title %}Mioca - Coming Soon{% endblock %}

{% block content %}
<!--coming soon area start-->
<div class="coming_soon_area js-ripples">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="coming_soon_container">
                    <div class="coming_soon_logo text-center">
                        <a href="#"><img src="assets/images/logo/logo.png" alt=""></a>
                    </div>

                    <div class="coming_soon_title">
                        <h2 class="title">This page/feature is under construction.</h2>
                        <p>This section will be available soon.</p>
                    </div>
                    <div class="coming_soon_timing">
                        <div data-countdown="2023/12/12"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}