{% extends "artisan/base.html" %}
{% block title %}Artisan's - Buy & Sell Your Artworks{% endblock %}

{% block content %}

<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 text-center">
                <h2 class="breadcrumb-title">Hello, {{user.get_first_name()}}!</h2>
                <!-- breadcrumb-list start -->
                <ul class="breadcrumb-list">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Account</li>
                </ul>
                <!-- breadcrumb-list end -->
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->

<!-- account area start -->
<div class="account-dashboard pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
                <!-- Nav tabs -->
                <div class="dashboard_tab_button" data-aos="fade-up" data-aos-delay="0">
                    <ul role="tablist" class="nav flex-column dashboard-list">
                        <li><a href="#dashboard" data-bs-toggle="tab" class="nav-link active">My Artworks</a></li>
                        <li> <a href="#orders" data-bs-toggle="tab" class="nav-link">My Orders</a></li>
                        <li><a href="#account-details" data-bs-toggle="tab" class="nav-link">My details</a></li>
                        <li><a href="#account-delete" data-bs-toggle="tab" class="nav-link">My Account</a></li>
                        <li>
                            <a href="/account/logout" class="nav-link">
                                logout<i class="pe-7s-upload"
                                    style="font-size: 25px;font-weight: bold;float: right;"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-9 col-lg-9">
                <!-- Tab panes -->
                <div class="tab-content dashboard_content" data-aos="fade-up" data-aos-delay="200">
                    <div class="tab-pane fade show active" id="dashboard">
                        <h4>Overview</h4>
                        <div class="row" style="margin-bottom: 30px;">
                            <div class="col-md-3">
                                <h6>Profit</h6>
                                <p>${{total_profit}}</p>
                            </div>
                            <div class="col-md-3">
                                <h6>Artwork Sold</h6>
                                <p>{{total_sold}}</p>
                            </div>
                        </div>
                        <h4>Your Artworks ({{user_artworks|length}})</h4>
                        <p>Create new or and manage your artworks.</p>
                        <button class="btn-dark"
                            onclick="document.getElementById('newArtworkDialog').showModal();">Create New
                            Artwork</button>
                        <div class="artwork-container">
                            <div class="row">
                                {% for artwork in user_artworks %}
                                <div class="col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                                    <!-- Single Prodect -->
                                    <div class="product">
                                        <div class="thumb">
                                            <a href="/artworks/{{artwork[0].get_id()}}" class="image">
                                                <img src="{{ url_for('static', filename='artisan/images/product-image/')}}{{artwork[0].get_image()[0]}}"
                                                    alt="Product" />
                                                <img class="hover-image"
                                                    src="{{ url_for('static', filename='artisan/images/product-image/')}}{{artwork[0].get_image()[0]}}"
                                                    alt="Product" />
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h5 class="title"><a
                                                    href="/artworks/{{artwork[0].get_id()}}">{{artwork[0].get_name()}}</a>
                                            </h5>
                                            <span class="price">
                                                {% if artwork[0].get_quantity()|int > 0 %}
                                                <p style="margin-bottom: 3px; color: green;">In Stock
                                                    ({{artwork[0].get_quantity()}})</p>
                                                {% else %}
                                                <p style="margin-bottom: 3px; color: red;">Out of Stock</p>
                                                {% endif %}
                                                <p class="new" style="text-align: center;">{{artwork[1]}} Sold</p>
                                            </span>
                                        </div>
                                        <a style="cursor: pointer;"
                                            onclick="document.getElementById('editArtworkDialog-{{artwork[0].get_id()}}').showModal();"
                                            class="add-to-cart">
                                            Manage
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% for artwork in user_artworks %}
                        <dialog id="editArtworkDialog-{{artwork[0].get_id()}}">
                            <h2>Edit Artwork </h2>
                            <h5 style="color: #eaaa85; margin-bottom: 20px;">{{artwork[0].get_name()}}</h5>
                            <span>Title</span>
                            <input type="text" id="title-{{artwork[0].get_id()}}" placeholder="Title"
                                value="{{artwork[0].get_name()}}" required>
                            <div class="row">
                                <div class="col-md-6">
                                    <span>Price</span>
                                    <input type="number" id="price-{{artwork[0].get_id()}}" placeholder="$ Price"
                                        value="{{artwork[0].get_price()}}" required>
                                </div>
                                <div class="col-md-6">
                                    <span>Stock</span>
                                    <input type="number" min="0" id="quantity-{{artwork[0].get_id()}}"
                                        name="product_quantity" placeholder="Quantity"
                                        value="{{artwork[0].get_quantity()}}" required>
                                </div>
                            </div>
                            <span>Category</span>
                            <select id="category-{{artwork[0].get_id()}}" name="category-{{artwork[0].get_id()}}" required>
                                <option value="{{artwork[0].get_category()}}" disabled selected>{{artwork[0].get_category()}}</option>
                                <option value="3D Art and Modeling">3D Art and Modeling</option>
                                <option value="Abstract Art">Abstract Art</option>
                                <option value="Augmented Reality (AR) Art">Augmented Reality (AR) Art</option>
                                <option value="Cartoon Art">Cartoon Art</option>
                                <option value="Character Design">Character Design</option>
                                <option value="Comics and Manga">Comics and Manga</option>
                                <option value="Concept Art">Concept Art</option>
                                <option value="Digital Collage">Digital Collage</option>
                                <option value="Digital Paintings">Digital Paintings</option>
                                <option value="Digital Stickers and Emojis">Digital Stickers and Emojis</option>
                                <option value="Fantasy Art">Fantasy Art</option>
                                <option value="Fine Art Photography">Fine Art Photography</option>
                                <option value="GIF Art and Animation">GIF Art and Animation</option>
                                <option value="Geometric Art">Geometric Art</option>
                                <option value="Graffiti and Street Art">Graffiti and Street Art</option>
                                <option value="Illustrations">Illustrations</option>
                                <option value="Landscapes">Landscapes</option>
                                <option value="Minimalist Art">Minimalist Art</option>
                                <option value="Mixed Media Art">Mixed Media Art</option>
                                <option value="Pixel Art">Pixel Art</option>
                                <option value="Pop Art">Pop Art</option>
                                <option value="Portraits">Portraits</option>
                                <option value="Sci-Fi Art">Sci-Fi Art</option>
                                <option value="Still Life">Still Life</option>
                                <option value="Surreal Art">Surreal Art</option>
                                <option value="Textile and Pattern Design">Textile and Pattern Design</option>
                                <option value="Typography and Calligraphy">Typography and Calligraphy</option>
                                <option value="Urban Art">Urban Art</option>
                                <option value="Virtual Reality (VR) Art">Virtual Reality (VR) Art</option>
                                <option value="Wildlife and Nature">Wildlife and Nature</option>
                                <option value="Art for Kids">Others</option>
                            </select>
                            <span>Description</span>
                            <input type="text" id="description-{{artwork[0].get_id()}}" placeholder="Description"
                                value="{{artwork[0].get_description()}}" required>
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button" class="dialog-btn-danger"
                                        onclick="document.getElementById('deleteArtDialog-{{artwork[0].get_id()}}').showModal();">
                                        <i class="fa fa-arrow-left"> </i> Delete
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="dialog-btn-dark"
                                        onclick="updateArtwork({{artwork[0].get_id()}})">
                                        <i class="fa fa-arrow-left"> </i> Save
                                    </button>
                                </div>
                            </div>
                            <a onclick="document.getElementById('editArtworkDialog-{{artwork[0].get_id()}}').close();"
                                aria-label="close" class="x">❌</a>
                            <p id="msg"></p>
                        </dialog>
                        <dialog id="deleteArtDialog-{{artwork[0].get_id()}}">
                            <h3>Delete <br>{{artwork[0].get_name()}}?</h3>
                            <p>This action cannot be undone.</p>
                            <a onclick="document.getElementById('deleteArtDialog-{{artwork[0].get_id()}}').close();"
                                aria-label="close" class="x">❌</a>
                            <button type="button" onclick="deleteArtwork({{artwork[0].get_id()}})"
                                class="dialog-btn-danger">
                                <i class="fa fa-arrow-left"></i> Delete Artwork
                            </button>
                        </dialog>
                        {% endfor %}
                        <dialog id="newArtworkDialog">
                            <form action="" method="post" id="newProduct" enctype="multipart/form-data">
                                <h1>New Artwork</h1>
                                <p>Upload your artwork.</p>
                                <div id="image-preview"></div>
                                <input type="file" name="product_images" placeholder="Product image" accept="image/*"
                                    required multiple style="margin-bottom: 20px;">
                                <input type="text" name="product_title" placeholder="Title" required>
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="number" name="product_price" placeholder="$ Price" required>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="number" name="product_quantity" placeholder="Quantity" required>
                                    </div>
                                </div>
                                <select id="art-category" name="product_category" required>
                                    <option value="" disabled selected>Category</option>
                                    <option value="3D Art and Modeling">3D Art and Modeling</option>
                                    <option value="Abstract Art">Abstract Art</option>
                                    <option value="Augmented Reality (AR) Art">Augmented Reality (AR) Art</option>
                                    <option value="Cartoon Art">Cartoon Art</option>
                                    <option value="Character Design">Character Design</option>
                                    <option value="Comics and Manga">Comics and Manga</option>
                                    <option value="Concept Art">Concept Art</option>
                                    <option value="Digital Collage">Digital Collage</option>
                                    <option value="Digital Paintings">Digital Paintings</option>
                                    <option value="Digital Stickers and Emojis">Digital Stickers and Emojis</option>
                                    <option value="Fantasy Art">Fantasy Art</option>
                                    <option value="Fine Art Photography">Fine Art Photography</option>
                                    <option value="GIF Art and Animation">GIF Art and Animation</option>
                                    <option value="Geometric Art">Geometric Art</option>
                                    <option value="Graffiti and Street Art">Graffiti and Street Art</option>
                                    <option value="Illustrations">Illustrations</option>
                                    <option value="Landscapes">Landscapes</option>
                                    <option value="Minimalist Art">Minimalist Art</option>
                                    <option value="Mixed Media Art">Mixed Media Art</option>
                                    <option value="Pixel Art">Pixel Art</option>
                                    <option value="Pop Art">Pop Art</option>
                                    <option value="Portraits">Portraits</option>
                                    <option value="Sci-Fi Art">Sci-Fi Art</option>
                                    <option value="Still Life">Still Life</option>
                                    <option value="Surreal Art">Surreal Art</option>
                                    <option value="Textile and Pattern Design">Textile and Pattern Design</option>
                                    <option value="Typography and Calligraphy">Typography and Calligraphy</option>
                                    <option value="Urban Art">Urban Art</option>
                                    <option value="Virtual Reality (VR) Art">Virtual Reality (VR) Art</option>
                                    <option value="Wildlife and Nature">Wildlife and Nature</option>
                                    <option value="Art for Kids">Others</option>
                                </select>
                                <input type="hidden" name="customer_id" value="{{user.get_user_id()}}">
                                <input type="text" name="product_description" placeholder="Description" required>
                                <button type="submit" class="dialog-btn"><i class="fa fa-arrow-left"> </i> Create
                                    Artwork</button>
                                <a onclick="document.getElementById('newArtworkDialog').close();" aria-label="close"
                                    class="x">❌</a>
                                <p id="msg"></p>
                            </form>
                        </dialog>
                    </div>
                    <div class="tab-pane fade" id="orders">
                        <h4>Orders</h4>
                        <div class="table_page table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Order ID</th>
                                        <th>Date</th>
                                        <th>Item</th>
                                        <th>Total</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in orders %}
                                    <tr>
                                        <td>{{order[0].get_order_id()}}</td>
                                        <td>{{order[0].get_order_date()}}</td>
                                        <td>{{order[1].get_name()}} (x{{order[0].get_order_quantity()}})</td>
                                        <td>${{order[0].get_order_total()}}</td>
                                        <td>
                                            <a onclick="document.getElementById('ViewProductDialog-{{order[0].get_order_id()}}').showModal();"
                                                class="view" style="cursor: pointer;">
                                                view/Download
                                            </a>
                                        </td>
                                    </tr>
                                    <dialog id="ViewProductDialog-{{order[0].get_order_id()}}">
                                        <h2>{{order[1].get_name()}}</h2>
                                        <img src="{{ url_for('static', filename='artisan/images/product-image/')}}{{order[1].get_image()[0]}}"
                                            alt="{{order[1].get_name()}}" width="100%">
                                        <a onclick="document.getElementById('ViewProductDialog-{{order[0].get_order_id()}}').close();"
                                            aria-label="close" class="x">❌</a>
                                        <a href="{{ url_for('static', filename='artisan/images/product-image/')}}{{order[1].get_image()[0]}}"
                                            download="{{order[1].get_name()}}" class="dialog-btn" id="dialog-btn">
                                            <i class="fa fa-arrow-down"> </i> Download
                                        </a>
                                    </dialog>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="account-delete">
                        <h4>Manage my Account</h4>
                        <div class="row">
                            <div class="col-md-9">
                                <h6 class="billing-address">Update Password</h6>
                                <p>Update your current password.</p>
                                <button type="button" class="btn btn-dark" style="padding: 15px; margin-bottom: 40px;"
                                    onclick="document.getElementById('AccountUpdateDialog').showModal();">
                                    Update Password
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <h6 class="billing-address">Request removal of account</h6>
                                <p>Request removal of your account and all associated data from Artisans.</p>
                                <button type="button" class="btn btn-danger" style="padding: 15px;"
                                    onclick="document.getElementById('deleteAccountDialog').showModal();">
                                    Request Removal
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="account-details">
                        <h3>Personal details</h3>
                        <div class="login">
                            <div class="login_form_container">
                                <div class="account_login_form">
                                    <form action="#" method="post" id="update-form">
                                        <input type="hidden" name="id" value="{{user.get_user_id()}}">
                                        <div class="row">
                                            <div class="default-form-box mb-20 col-md-6" id="first-name-container">
                                                <label>First Name</label>
                                                <p>{{user.get_first_name()}}</p>
                                            </div>
                                            <div class="default-form-box mb-20 col-md-6" id="last-name-container">
                                                <label>Last Name</label>
                                                <p>{{user.get_last_name()}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="default-form-box mb-20 col-md-6" id="birthdate-container">
                                                <label>Birthdate</label>
                                                <p>{{user.get_birthdate()}}</p>
                                            </div>
                                            <div class="default-form-box mb-20 col-md-6" id="email-container">
                                                <label>Email</label>
                                                <p>{{user.get_email()}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="edit_button mt-3 col-md-2">
                                                <button class="btn" type="button" id="edit-button">Edit</button>
                                            </div>
                                            <div class="save_button mt-3 col-md-2" id="save-button-container">

                                            </div>
                                        </div>
                                        <div id="msg-box"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<dialog id="AccountUpdateDialog">
    <form method="post" action="/account/password/update" id="password-update-form">
        <h3>Update Password</h3>

        <p style="margin-bottom: 5px;">Enter current password.</p>
        <input style="padding: 0px 70px 0px 20px;" type="password" name="current_password"
            placeholder="Current Password" required autocomplete="">
        <p style="margin-bottom: 5px; margin-top: 10px;">Enter new password.</p>
        <input style="padding: 0px 70px 0px 20px;" type="password" name="new_password" placeholder="New Password"
            required autocomplete="">
        <p style="margin-bottom: 5px; margin-top: 10px;">Confirm new password.</p>
        <input style="padding: 0px 70px 0px 20px;" type="password" name="confirm_password"
            placeholder="Confirm Password" required autocomplete="">
        <div id="msg" style="text-align: center; color: red"></div>

        <a onclick="document.getElementById('AccountUpdateDialog').close();" aria-label="close" class="x">❌</a>
        <input type="hidden" name="pwd_customer_id" value="{{user.get_user_id()}}">
        <button style="margin-top: 20px;" type="submit" class="dialog-btn"><i class="fa fa-arrow-left"> </i>
            Update</button>
    </form>
</dialog>
<script src="{{ url_for('static', filename='artisan/js/account-form-validation.js') }}"></script>
{% endblock %}