{% extends "artisan/base.html" %}
{% block title %}Artisan's - Buy & Sell Your Artworks{% endblock %}

{% block content %}
<!-- Product Details Area Start -->
<div class="product-details-area pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12 mb-lm-30px mb-md-30px mb-sm-30px">
                <div class="product-details-img product-details-tab product-details-tab-2 d-flex">
                    <div class="swiper-container mr-15px zoom-thumbs-2">
                        <div class="swiper-wrapper">
                            {% for image in product.get_image() %}
                            <div class="swiper-slide" >
                                <img class="img-responsive m-auto" src="{{ url_for('static', filename='artisan/images/product-image/')}}{{image}}"
                                    alt="">
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Swiper -->
                    <div class="swiper-container zoom-top-2 align-self-start">
                        <div class="swiper-wrapper">
                            {% for image in product.get_image() %}
                            <div class="swiper-slide zoom-image-hover">
                                <img class="img-responsive" src="{{ url_for('static', filename='artisan/images/product-image/')}}{{image}}" alt="">
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-delay="200">
                <div class="product-details-content quickview-content ml-25px">
                    <h2 style="margin-bottom: 0px;">{{product.get_name()}}</h2>
                    <p>By {{artist}}</p>
                    <div class="pricing-meta">
                        <ul class="d-flex">
                            <li class="new-price">${{product.get_price()}}</li>
                            <!-- <li class="old-price"><del>$30.90</del></li> -->
                        </ul>
                    </div>
                    <div class="pro-details-rating-wrap">
                        <div class="rating-product">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <span class="read-review"><a class="reviews" href="#">( 2 Review )</a></span>
                    </div>
                    <div class="stock mt-30px">
                        {% if product.get_quantity()|int > 0 %}
                        <span class="avallabillty">Availability: <span class="in-stock"><i class="fa fa-check"></i>In Stock</span></span> ({{product.get_quantity()}} remaining)
                        {% else %}
                        <span class="avallabillty">Availability: <span class="in-stock"><i class="fa fa-times"></i>Out of Stock</span></span>
                        {% endif %}
                    </div>
                    <p class="mt-30px mb-0">{{product.get_description()}}</p>
                    {% if product.get_customer_id()|int != session['user_id'] %}
                    {% if product.get_quantity()|int > 0 %}
                    <div class="pro-details-quality">
                        <div class="cart-plus-minus">
                            <div class="dec qtybutton2">-</div>
                            <input class="cart-plus-minus-box" id="quantity-value" type="text" name="qtybutton" value="1" max="{{product.get_quantity()}}"/>
                            <div class="inc qtybutton2">+</div>
                        </div>
                        <div class="pro-details-cart">
                            <button class="add-cart buy-button" id="add-cart-btn"> Add To Cart</button>
                        </div>
                        <div class="pro-details-compare-wishlist pro-details-wishlist ">
                            <a href="/wishlist"><i class="pe-7s-like"></i></a>
                        </div>
                        <input type="hidden" id="product-id" value="{{product.get_id()}}">
                    </div>
                    {% endif %}
                    {% else %}
                        <h6 style="margin: 20px 0px;"><a href="/account/?edit-artwork={{product.get_id()}}">Edit Artwork</a></h6>
                    {% endif %}
                    <div class="pro-details-categories-info pro-details-same-style d-flex">
                        <span>Categories: </span>
                        <ul class="d-flex">
                            <li>
                                <a href="/artworks/search/?category={{product.get_category()}}">{{product.get_category()}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="pro-details-social-info pro-details-same-style d-flex">
                        <span>Share: </span>
                        <ul class="d-flex">
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-google"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-youtube"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="payment-img">
                        <a href="#"><img src="{{ url_for('static', filename='artisan/images/icons/payment.png')}}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- product details description area start -->
<div class="description-review-area pb-100px" data-aos="fade-up" data-aos-delay="200">
    <div class="container">
        <div class="description-review-wrapper">
            <div class="description-review-topbar nav">
                <a class="active" data-bs-toggle="tab" href="#des-details1">Description</a>
                <a data-bs-toggle="tab" href="#des-details3">Reviews (02)</a>
            </div>
            <div class="tab-content description-review-bottom">
                <div id="des-details1" class="tab-pane active">
                    <div class="product-description-wrapper">
                        <p>
                            {{product.get_description()}}
                        </p>
                    </div>
                </div>
                <div id="des-details3" class="tab-pane">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="review-wrapper">
                                <div class="single-review">
                                    <div class="review-img">
                                        <img src="{{ url_for('static', filename='artisan/images/review-image/1.png')}}" alt="" />
                                    </div>
                                    <div class="review-content">
                                        <div class="review-top-wrap">
                                            <div class="review-left">
                                                <div class="review-name">
                                                    <h4>White Lewis</h4>
                                                </div>
                                                <div class="rating-product">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </div>
                                            <div class="review-left">
                                                <a href="/wip">Reply</a>
                                            </div>
                                        </div>
                                        <div class="review-bottom">
                                            <p>
                                                This artwork is amazing! I love it so much! I can't wait to buy more from this artist!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-review child-review">
                                    <div class="review-img">
                                        <img src="{{ url_for('static', filename='artisan/images/review-image/2.png')}}" alt="" />
                                    </div>
                                    <div class="review-content">
                                        <div class="review-top-wrap">
                                            <div class="review-left">
                                                <div class="review-name">
                                                    <h4>Anne Smith</h4>
                                                </div>
                                                <div class="rating-product">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </div>
                                            <div class="review-left">
                                                <a href="/wip">Reply</a>
                                            </div>
                                        </div>
                                        <div class="review-bottom">
                                            <p>
                                                You'r right! I love this artwork too! I'm so glad I bought it! It looks great in my living room!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="ratting-form-wrapper pl-50">
                                <h3>Add a Review</h3>
                                <div class="ratting-form">
                                    <form action="/wip">
                                        <div class="star-box">
                                            <span>Your rating:</span>
                                            <div class="rating-product">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="rating-form-style">
                                                    <input placeholder="Name" type="text" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="rating-form-style">
                                                    <input placeholder="Email" type="email" />
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="rating-form-style form-submit">
                                                    <textarea name="Your Review" placeholder="Message"></textarea>
                                                    <button class="btn btn-primary btn-hover-color-primary "
                                                        type="submit" value="Submit">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- product details description area end -->
<script src="{{ url_for('static', filename='artisan/js/product-cart.js') }}"></script>
{% endblock %}